# @browserstack/central-frontend is the default owner Unless a later match takes precedence,

* @browserstack/central-frontend

# TCM
apps/tcm/** @browserstack/tm-frontend

# MCSPT
apps/mcspt/* @browserstack/mcspt-frontend
apps/web-mcspt/* @browserstack/mcspt-frontend
packages/mcp-shared/* @browserstack/mcspt-frontend

# All package.json this needs to be at the end of the file
**/package.json @browserstack/central-frontend
