$time-blocked: #dc2626;
$time-queueing: #aaa;
$time-dns: #159588;
$time-connect: #fd9727;
$time-ssl: #c141cd;
$time-send: #1eaaf1;
$time-wait: #b0bec5;
$time-receive: #1ec659;

// borders
$border: 1px solid #9ca3af;
$header-shadow: 0 2px 2px -1px #9ca3af;

$table-first-last-column-additional-padding: 4px;
$har-filter-container-height: 56px;
$header-height: 47px;
