/* tailwind: gray */
$base-50: #f9fafb;
$base-100: #f3f4f6;
$base-200: #e5e7eb;
$base-300: #d1d5db;
$base-400: #9ca3af;
$base-500: #6b7280;
$base-600: #4b5563;
$base-700: #374151;
$base-800: #1f2937;
$base-900: #111827;

/* tailwind: blue */
$brand-50: #eff6ff;
$brand-100: #dbeafe;
$brand-200: #bfdbfe;
$brand-300: #93c5fd;
$brand-400: #60a5fa;
$brand-500: #3b82f6;
$brand-600: #2563eb;
$brand-700: #1d4ed8;
$brand-800: #1e40af;
$brand-900: #1e3a8a;

/* tailwind: red */
$danger-50: #fef2f2;
$danger-100: #fee2e2;
$danger-200: #fecaca;
$danger-300: #fca5a5;
$danger-400: #f87171;
$danger-500: #ef4444;
$danger-600: #dc2626;
$danger-700: #b91c1c;
$danger-800: #991b1b;
$danger-900: #7f1d1d;

/* tailwind: green */
$success-50: #ecfdf5;
$success-100: #d1fae5;
$success-200: #a7f3d0;
$success-300: #6ee7b7;
$success-400: #34d399;
$success-500: #10b981;
$success-600: #059669;
$success-700: #047857;
$success-800: #065f46;
$success-900: #064e3b;

/* tailwind: yellow */
$attention-50: #fffbeb;
$attention-100: #fef3c7;
$attention-200: #fde68a;
$attention-300: #fcd34d;
$attention-400: #fbbf24;
$attention-500: #f59e0b;
$attention-600: #d97706;
$attention-700: #b45309;
$attention-800: #92400e;
$attention-900: #78350f;

/* tailwind: sky */
$information-50: #f0f9ff;
$information-100: #e0f2fe;
$information-200: #bae6fd;
$information-300: #7dd3fc;
$information-400: #38bdf8;
$information-500: #0ea5e9;
$information-600: #0284c7;
$information-700: #0369a1;
$information-800: #075985;
$information-900: #0c4a6e;
