@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@browserstack/tailwind-config/default-theme';
@import './ThirdPartyStyles.scss';

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  color: var(--colors-base-900);
  background-color: var(--colors-base-50);
}
@layer utilities {
  .break-words {
    overflow-wrap: anywhere;
    word-break: normal;
  }
}
// [Do not use] Kept as fallback. Will be removed in future
.classic-break-words {
  overflow-wrap: anywhere;
  word-break: normal;
}
tbody tr:last-child {
  td:first-child {
    border-bottom-left-radius: 0.5rem;
  }
  td:last-child {
    border-bottom-right-radius: 0.5rem;
  }
}
